#wrapper
  #remotes
  #apps
  #procs
  #debug

template(id="nexus"):
  div #{JSON.stringify(locals)}

template(id="app"):
  div.app #{JSON.stringify(locals)}
    hr
    
template(id="remote"):
  div.remote #{JSON.stringify(locals)}
    hr
   
template(id="proc"):
  div.proc #{JSON.stringify(locals)}
    hr


